/* section{
    padding: 15px;
    bottom: 0;
    margin: 0;
    position:absolute;
    background-color:aliceblue;
    width: 100%;
} */

/* .main {
    flex-direction: column;
  } */
 section {
    background: #121212;
    color: #fff;
    
  }
  
  li {
    list-style-type: none;
    text-align: left;
    color: rgb(224, 224, 214);
  }

  
  .flex-row > li {
    margin: 2em;
  }
  
  
  @media screen and (min-width: 1023px) {
    .main {
      flex-direction: row;
    }
  
    
  } 