<section>
  <div class="flex-row cross-center main-center main">
    <nav class="links">
      <ul>
        <li>
            <a class="nav-link" aria-current="page" routerLink="/aboutus">About us</a>
          </li>
        <li>
          <a class="nav-link" aria-current="page" routerLink="/contactus">Contact us</a>
        </li>
        <li>
          <a class="nav-link" aria-current="page" routerLink="/feedback">Feedback</a>
        </li>
        <li>
          <a class="nav-link" aria-current="page" routerLink="/faqs">FAQs</a>
        </li>
        <li>
          <a class="nav-link" aria-current="page" routerLink="/accessibility">Accessibility</a>
        </li>
        <li>
          <a class="nav-link" aria-current="page" routerLink="/terms">Terms</a>
        </li>
      </ul>
    </nav>
  </div>
  <br>
</section>

