<div class="container" style="padding-top: 65px">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <p class="display-4 text-success mt-2 text-center">Sign In</p>
            <hr />

            <form (ngSubmit)="signInSubmit(signInForm)" #signInForm="ngForm">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  [(ngModel)]="user.username"
                  #username="ngModel"
                  placeholder="enter username"
                  required
                />
                <p
                  class="small text-danger my-2"
                  *ngIf="username.dirty && username.invalid"
                >
                  Username can't be empty !
                </p>
              </div>

              <div class="mb-3">
                <label for="userpassword" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="userpassword"
                  name="userpassword"
                  [(ngModel)]="user.userpassword"
                  #userpassword="ngModel"
                  placeholder="enter password"
                  required
                />
                <p
                  class="small text-danger my-2"
                  *ngIf="userpassword.dirty && userpassword.invalid"
                >
                  Password can't be empty !
                </p>
              </div>

              <button
                type="submit"
                class="btn btn-success"
                [disabled]="signInForm.pristine || signInForm.invalid"
              >
                Submit
              </button>
            </form>
            <br>
            <p>Not Registered? Click <a routerLink="/signup">here</a> to register</p>
           

            <div class="alert alert-success d-flex align-items-center mt-2" role="alert" *ngIf="successFlag">
              <i class="material-icons">check_circle</i>
              <div class="ms-2">
                Login is successfull ! Click
                <a routerLink="/home">here</a> to go to home.
              </div>
            </div>
  
            <div class="alert alert-danger d-flex align-items-center mt-2" role="alert" *ngIf="errorFlag">
              <i class="material-icons"> warning </i>
              <div class="ms-2">Login credentials are invalid</div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br>
