<ng-container *ngIf="products.length != 0">
  <h2 class="mt-2">My Cart</h2>
  <div class="container mt-4" style="text-align: center">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Manu Name</th>

              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.menuname }}</td>

              <th style="width: 12%">{{ item.menuprice }}</th>
              <td style="width: 12%">{{ item.qty }}</td>
              <td style="width: 12%">{{ item.total }}</td>
              <td>
                <button (click)="removeItem(item)" class="btn btn-danger">
                  <i class="material-icons"> delete </i>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td>
                <button (click)="emptycart()" class="btn btn-danger">
                  Empty Cart
                </button>
              </td>
              <td>
                <button routerLink="/test" class="btn btn-primary">
                  Order More
                </button>
              </td>
              <td>
                <button class="btn btn-success" routerLink="/checkout">
                  Checkout
                </button>
              </td>
              <td>
                <strong>Grand Total : Rs.{{ grandTotal }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
  <div class="container">
    <div class="card">
      <h2 class="card-title">My Cart</h2>
    </div>
    <div class="center">
      <img
        src="https://www.metro-markets.com/plugins/user/images/emptycart.png"
        alt=""
      />
      <h2>Your cart is empty!</h2>
      <h4>Add item to it now</h4>
      <button routerLink="/test" class="btn btn-success">Order Now</button>
    </div>
  </div>
</ng-container>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
